<footer class="flex flex-col h-20 items-center justify-center text-gray-400 text-sm">
    <!-- copyright -->
    <div class="flex items-center gap-2">
        <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="color: inherit;">CC BY-NC-SA
            4.0</a>
        <span>© 2024</span>
        <iconify-icon width="18" icon="mdi:leaf"></iconify-icon>
        <a href="https://thornlog.cn/" target="_blank" rel="noopener noreferrer">Thorn`刺</a>
    </div>

</footer>
