<!-- The navigation bar -->
<header class="
flex flex-row items-center
    w-full
    px-2
    py-1
    z-10
    border-b
    border-black/5
    gap-2
    h-[var(--h-header)]
    text-[var(--c-80)]">
    <!-- Left part -->
    <div class="max-auto">
        <!-- Site Title on the top left -->
      <nav class="flex items-center text-base">
        <a href="<%- config.root %>" class="group
            gap-2
            h-12
            px-3
            py-1
            pl-1
            hover:text-[#42b883]">
           <h2 class="font-medium text-#374151 tracking-tighterp text-l p-2">
             <img class="w-5 mr-2 inline-block transition-transform group-hover:rotate-[30deg]" id="logo" src="/img/logo.svg"
                alt="Memory Pavilion">
            Memory Pavilion</h2>
        </a>
    </div>
    <!-- Div for pushing items to both sides -->
    <div class="flex-1"></div>
    <!-- Right part -->
    <div class="flex flex-row items-center z-20 h-full">
        <!-- Page links -->
        <div class="hidden sm:flex flex-row h-full">
        <a href="./archives" class="
                                flex flex-row items-center
                                gap-1
                                hover:underline
                                hover:bg-[var(--c-20)]
                                hover:text-[#42b883]
                                transition-all
                                px-2
                                py-1
                                my-1
                                rounded-lg
                                group
                            ">
            <iconify-icon class="group-hover:scale-125 transition-transform" icon="mingcute:inbox-fill" width="22">
            </iconify-icon>
            <p>Posts</p>
        </a>
        <a href="./publications" class="
                                flex flex-row items-center
                                gap-1
                                hover:underline
                                hover:bg-[var(--c-20)]
                                hover:text-[#42b883]
                                transition-all
                                px-2
                                py-1
                                my-1
                                rounded-lg
                                group
                            ">
            <iconify-icon class="group-hover:scale-125 transition-transform" icon="mingcute:science-fill" width="22">
            </iconify-icon>
            <p>Publications</p>
        </a>
        <a href="./about" class="
                                flex flex-row items-center
                                gap-1
                                hover:underline
                                hover:bg-[var(--c-20)]
                                hover:text-[#42b883]
                                transition-all
                                px-2
                                py-1
                                my-1
                                rounded-lg
                                group
                            ">
            <iconify-icon class="group-hover:scale-125 transition-transform" icon="mingcute:user-info-fill" width="22">
            </iconify-icon>
            <p>About</p>
        </a>
        <a href="./category" class="
                                flex flex-row items-center
                                gap-1
                                hover:underline
                                hover:bg-[var(--c-20)]
                                hover:text-[#42b883]
                                transition-all
                                px-2
                                py-1
                                my-1
                                rounded-lg
                                group
                            ">
            <iconify-icon class="group-hover:scale-125 transition-transform" icon="mingcute:classify-2-fill" width="22">
            </iconify-icon>
        </a>
        <a href="./tag" class="
                                flex flex-row items-center
                                gap-1
                                hover:underline
                                hover:bg-[var(--c-20)]
                                hover:text-[#42b883]
                                transition-all
                                px-2
                                py-1
                                my-1
                                rounded-lg
                                group
                            ">
            <iconify-icon class="group-hover:scale-125 transition-transform" icon="mingcute:tag-fill" width="22">
            </iconify-icon>
        </a>
        <a href="/" class="
                                flex flex-row items-center
                                gap-1
                                hover:underline
                                hover:bg-[var(--c-20)]
                                hover:text-[#42b883]
                                transition-all
                                px-2
                                py-1
                                my-1
                                rounded-lg
                                group
                            ">
            <iconify-icon class="group-hover:scale-125 transition-transform" icon="mingcute:home-2-fill" width="22">
            </iconify-icon>
        </a>
        </div>

        <!-- Icons on the right -->
        <div class="flex flex-row items-center">

            <%- partial('_partial/search') %>

            <!-- Dark/light toggle icon -->
            <a class="flex group p-1 px-2.5" title="toggle theme" id="toggle-dark">
                <iconify-icon class="transition-transform
                    group-hover:rotate-[45deg]
                    group-hover:scale-125
                    group-hover:text-[#42b883]
                    " width="22" icon="" id="theme-icon">
                </iconify-icon>
            </a>
            <!-- Icon for dropout menu on small screens -->
            <div class="flex items-center justify-center gap-1 mx-1 sm:hidden">
                <a class="w-5 h-5" aria-hidden="true" role="img" id="open-menu">
                    <iconify-icon width="22" icon="mingcute:menu-fill"
                        class="transition-transform hover:scale-125 hover:rotate-[5deg]">
                    </iconify-icon>
                </a>
                <a class="w-5 h-5 hidden" aria-hidden="true" role="img" id="close-menu">
                    <iconify-icon width="22" icon="mingcute:close-circle-fill"
                        class="transition-transform hover:scale-125 hover:rotate-[80deg]">
                    </iconify-icon>
                </a>
            </div>
        </div>
       </nav>
    </div>
</header>

<!-- Dropdown menu on small screens -->
<div id="menu-panel" class="h-0 overflow-hidden sm:hidden fixed left-0 right-0 top-12 bottom-0 z-10">
  <div id="menu-content" class="relative z-20 font-black text-xl px-6 sm:px-8 py-2 backdrop-blur-xl -translate-y-full transition-transform duration-300">
<a href="./archives" class="
                flex flex-row items-center
                gap-2
                h-12
                hover:underline
                hover:bg-[var(--c-20)]
                px-3
                py-1s
                rounded-lg
            ">
            <iconify-icon icon="mingcute:inbox-fill" width="22">
            </iconify-icon>
            <p>
              Posts
            </p>
          </a>


        <a href="./publications" class="
                        flex flex-row items-center
                        gap-2
                        h-12
                        hover:underline
                        hover:bg-[var(--c-20)]
                        px-3
                        py-1
                        rounded-lg
                    ">
            <iconify-icon icon="mingcute:science-fill" width="22">
            </iconify-icon>
            <p>
                Publications
            </p>
        </a>


        <a href="./about" class="
                        flex flex-row items-center
                        gap-2
                        h-12
                        hover:underline
                        hover:bg-[var(--c-20)]
                        px-3
                        py-1
                        rounded-lg
                    ">
            <iconify-icon icon="mingcute:user-info-fill" width="22">
            </iconify-icon>
            <p>
                About
            </p>
        </a>


        <a href="./category" class="
                        flex flex-row items-center
                        gap-2
                        h-12
                        hover:underline
                        hover:bg-[var(--c-20)]
                        px-3
                        py-1
                        rounded-lg
                    ">
            <iconify-icon icon="mingcute:classify-2-fill" width="22">
            </iconify-icon>
            <p>
                Categories
            </p>
        </a>


        <a href="./tag" class="
                        flex flex-row items-center
                        gap-2
                        h-12
                        hover:underline
                        hover:bg-[var(--c-20)]
                        px-3
                        py-1
                        rounded-lg
                    ">
            <iconify-icon icon="mingcute:tag-fill" width="22">
            </iconify-icon>
            <p>
                Tags
            </p>
        </a>


        <a href="/" class="
                        flex flex-row items-center
                        gap-2
                        h-12
                        hover:underline
                        hover:bg-[var(--c-20)]
                        px-3
                        py-1
                        rounded-lg
                    ">
            <iconify-icon icon="mingcute:home-2-fill" width="22">
            </iconify-icon>
            <p>
                Home
            </p>
        </a>
  </div>
  <div class="mask bg-black/20 absolute inset-0"></div>
</div>
