
<div class="flex flex-wrap gap-1">
  <% if (tags && tags.length) { %>
    <% tags.forEach(function (tag) { %>
      <a href="<%- url_for(tag.path) %>"
        class="
          tag
          text-sm
          rounded-full
          px-[5px]
          border-[1px]
          border-[#42b883]
          text-[#42b883]
          bg-[var(--c-0)]
          dark:bg-[var(--c-0)]
          dark:drop-shadow-none
          hover:bg-[#42b883]
          hover:text-[var(--c-0)]
        ">
        <%- tag.name %>
      </a>
    <% }); %>
  <% } %>
</div>