<div class="flex flex-col gap-0">
  <div class="index-info-container text-[var(--c-70)]">
    <!-- Home page info, short text about me -->
    <div class="flex flex-col items-center">
      <!-- Sub-title -->
      <p class="
        text-5xl font-black text-center
        text-[var(--c-80)] pt-6">
        <%= config.subtitle %>
      </p>
      <!-- Site title -->
    <div class="flex flex-col h-40 items-center justify-center">
      <h1 class="site-title text-4xl leading-relaxed">
        记忆秘阁
      </h1>
         <p class="text-gray-500 mt-2">
        言若舟，多则漏矣；恪守端中，行之则远。
         </p>
    </div>

      <!-- get content from index.md -->
      <div class="post-content mt-4 h-6">
      </div>
    </div>
  </div>

<% if (page.posts) { %>
    <!-- List of featured posts -->
    <%- partial('_partial/post-list', { posts: page.posts.filter(post=> post.featured),
        show_tags: false
        }) %>
        <% } %>

